<!--The purpose of romance.html-->
<!DOCTYPE html>
<html>
    <body>
        <table>
            <!-- tr represents a row -->
            <tr>
              {% for col_name in table_title %}
                  <th>{{col_name}}</th>
              {% endfor %}
            </tr>
            {% for row in sql_table %}
            <tr>
              {% for col in row %}
              <td>{{col}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
          <a href="searchGenre.html">
            <button>Go Back</button>
        </a> 
    </body>
</html>