<!DOCTYPE html>
<htmnl>
    <head>
        Search a Genre
    </head>
    <body>
            <label>Select genre(s):</label><br>
                    <form method ="post">
                        <button type="submit" name="history" value="history"> History </button>
                        <button type="submit" name="fiction" value="fiction"> Fiction </button>
                        <button type="submit" name="fantasy" value="fantasy"> Fantasy </button>
                        <button type="submit" name="mystery" value="mystery"> Mystery </button>
                        <button type="submit" name="poetry" value="poetry"> Poetry </button>
                        <button type="submit" name="romance" value="romance"> Romance </button>
                        <button type="submit" name="nonfiction" value="nonfiction"> Non-Fiction </button>
                        <button type="submit" name="children" value="children"> Children </button>
                        <button type="submit" name="youngadult" value="youngadult"> Young-Adult </button>
                        <button type="submit" name="comics" value="comics"> Comics </button>
                    </form>
    </body>
</htmnl>