<!--Jacob will be responsable for this page.-->
<!DOCTYPE html>
<html>
	<!--editing the back ground color for the entier page-->
	<body style="background-color:darkgray;">
		<!--for the box around the log in information and setting the back ground color of inside of the box-->
		<form method = post>
			<fieldset style="background-color:lightskyblue; ">
				<!--the title of the box section -->
				<legend style="color: black; background-color:lightskyblue;">Sign In:</legend>
				<!--the lable and the text box f-r the email  //curently using email insted of a user name and is wanting input type of email and not text-->
				<label style="color: black;" for="email" >Email:</label>
				<input style="background-color:lightskyblue; color: black;" type="text" id="email" name="email"><br><br>
				<!--the lable and the text box for the password-->
				<label style="color: black;" for="password">Password:</label>
				<input style="background-color:lightskyblue; color: black;" type="password" id="password" name="password"><br><br>
				<!--the signin button //currently not conected to another web page at the moment-->
				<button style="..." type="submit">Login</button>
			</fieldset>
		</form>
	</body>
</html>
