body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("bookImage.png");
    position: absolute;
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .welcomeMsg
  {
    color: rgb(0, 101, 76);
    position:absolute; 
    top:20px;
    left: 130px;    
  }

  .bLiked
  {
    position: absolute;
    top: 75px;
    left: 130px;
  }

  .booksLiked
  {
    position: absolute;
    top:130px;
    left: 130px;
    height:150px;
    width: 320px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
  }