<!--The purpose of th euSer Profile page is to display the users information
on liked books, authors, genres. They will have the abaility to update their
page by adding in new bookks they've read.-->
<!DOCTYPE html>
<html>
    <head>
        <style>
            img {
              width: 100%;
            }
            </style>
        <link rel="stylesheet" href="userProfile.css">
    </head>
    <body>
        <body>
            <div class="background"> 
              <img src="bookImage.png" width="128" height="1000"/> 
            </div>
          </body>
        <div class = "welcomeMsg">
            <h1 style="font-size:3vw;">Welcome, Person!</h1>
        </div>
        <!--Books you've liked-->
        <div class = "bLiked">
            <h2 style="font-size:2vw;">Books you've liked</h2>
        </div>
        <div class = "container">
          <div class = "row">
            <div class = "col-12">
              <hr>
              <div class = "bookInput">
                <input type = "text" class = "form-control" id = "book">
                <div class = "input-append">
                  <button onClick = "addBook()" class = "btn btn-add">Add</button>
                  <button onClick = "removeBook()" class = "btn btn-remove">Remove</button>
                </div>
              </div>

              <ul id = "bookList" class ="list"></ul>

            </div>
          </div>
        </div>
        <!--Authors you like-->
        <div class = "aLiked">
          <h2 style="font-size:2vw;">Authors you've liked</h2>
      </div>
        <div class = "container">
          <div class = "row">
            <div class = "col-12">
              <hr>
                <div class = "authorInput">
                  <input type = "text" class = "form-control" id = "author">
              <div class = "input-append">
                <button onClick = "addAuthor()" class = "btn btn-add">Add</button>
                <button onClick = "removeAuthor()" class = "btn btn-remove">Remove</button>
              </div>
            </div>

            <ul id = "authorList" class ="list1"></ul>

          </div>
        </div>
      </div>
        <script src="addRemove.js"></script>
    </body>
</html>