body, html {
    height: 100%;
  }
  
  .bg
  {
    background-image: url("bookImage.png");
    position: absolute;
    height: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .welcomeMsg
  {
    color: rgb(0, 101, 76);
    position: absolute; 
    top:20px;
    left: 160px;    
  }

  .bLiked
  {
    position: absolute;
    top: 85px;
    left: 165px;
  }

  .aLiked
  {
    position: absolute;
    top: 85px;
    right: 165px;
  }

  .bookInput
  {
    position: absolute;
    top:145px;
    left: 165px;
    height:150px;
    margin: 0 auto;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
  }

  .authorInput
  {
    position: absolute;
    top:145px;
    right: 165px;
    height:150px;
    margin: 0 auto;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
  }

  .list
  {
    border:1px solid #ccc;
    position: absolute;
    top: 185px;
    left: 165px;
    overflow:auto;
    width: 25%
  }

  .list1
  {
    border:1px solid #ccc;
    position: absolute;
    top: 185px;
    right: 165px;
    overflow:auto;
    width: 25%
  }