<!--The purpose of th euSer Profile page is to display the users information
on liked books, authors, genres. They will have the abaility to update their
page by adding in new bookks they've read.-->
<!DOCTYPE html>
<html>
    <head>
        <style>
            img {
              width: 100%;
            }
            </style>
        <link rel="stylesheet" href="userProfile.css">
    </head>
    <body>
        <body>
            <div class="background"> 
              <img src="bookImage.png" width="128" height="1000"/> 
            </div>
          </body>
        <div class = "welcomeMsg">
            <h1 style="font-size:3vw;">Welcome, Person!</h1>
        </div>
        <div class = "bLiked">
            <h2 style="font-size:2vw;">Book you've liked</h2>
        </div>
        <div class = "booksLiked">
            <ul style="font-size:1.5vw;">
                <li>Book</li>
                <li>Book</li>
                <li>Book</li>
                <li>Book</li>
                <li>Book</li>
                <li>Book</li>
                <li>Book</li>
                <li>Book</li>
                <li>Book</li>
            </ul>
        </div>
    </body>
</html>