.welcomeMsg
{
    text-align: center;
    margin-top: -5%;
    margin-right: 2%;
}
.welcomeBorder
{
    border-style: inset;
    border-color: cadetblue;
    min-height: 15vh; 
    width: 90vh;
    display: flex;
    margin-top: 25%;
    margin-left: 25%;
}
.searchButton
{
    margin-left: 25%;
    margin-top: 3%;
}
.signInButton
{
    margin-left: 37%;
    margin-top: -1.7%;
}
.signUpButton
{
    margin-left: 60%;
    margin-top: -1.7%;
}