<!--This page allows a user to add a review. They can only add a review if they are a member-->>

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Bootstrap css -->
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
		<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="fontawesome/css/all.css" /> -->
	</head>
<body>

	</nav>
	<div class="col-md-3"></div>
	<div class="col-md-6 well">
		<!-- Top border -->
		<hr style="border-top:1px dotted #ccc;"/>
		<div class="col-md-4">
			<div class="form-group">
				<label>User:</label>
				 <!-- <input type="text" id="user" class="form-control" />  -->
			</div>
			<div>
				<!-- star ratting system -->
				<h3>Rating:</h3>
				<span id="1" style="font-size:30px; cursor:pointer;"  class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)" ></span>
				<span id="2"  style="font-size:30px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
				<span id="3"  style="font-size:30px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
				<span id="4"  style="font-size:30px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
				<span id="5"  style="font-size:30px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
			</div>
			<br />
			<div class="form-group">
				<!-- Review section -->
				<h3>Review:</h3>
				<textarea id="review" class="form-control" style="resize:none; height:100px;"></textarea>
			</div>
			<!-- Submit button -->
			<center><button class="btn btn-success" onclick="submitRate()">Submit</button></center>
		</div>
		<div class="col-md-6">
			<div id="result"></div>
		</div>
	</div>
	<!-- javascript source -->
<!-- <script src="js/script.js"></script>	 -->
</body>
</html>
