<!DOCTYPE html>

<html>
  <head>
    <style>
        img {
          width: 100%;
        }
        </style>
    <!-- Below is the link to the css page -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='userProfile.css') }}">
</head>
<body>
    <body>
      <div class="background"> 
        <img src="/static/images/bookImage.png" width="128" height="1000"/> 
      </div>
    </body>
      <div class="welcomeMsg">
        <h1>{{data[2]}}</h1>
      </div>
      <div class = "bLiked">
        <h2>
          <ul>
            <li>publication year: {{data[1]}}</li>
            
          </ul>
        </h2>
      </div>
      <div class = "aLiked">
        <h2>
          <li>first genre: {{data[7]}}</li>
          <li>second genre: {{data[8]}}</li>
          
        </h2>
      </div>
      <!--Add a book button-->
      <div class = "addBook">	
          <button>Add</button>
      </div>
<br>
</div>
</body>
</html>
