<!--This is the Home page of BillyBooks.
	After signing in or signing up, it will ask the user what
	they want to do and they can either select a book or publish a book.-->
<!DOCTYPE html>
<html>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='welcome.css') }}">
	<body>
		<div class = "welcomeBorder"></div>
		<h1 class = "welcomeMsg">Welcome! What would you like to do?</h1>
		<div class = "searchButton">
			<a href = "searchBook">
				<button>Find a Book!</button>
			</a><br>
		</div>
		<div class = "signInButton">
			<a href = "signIn">
				<button>Already a BillyBooks Member? Sign In!</button>
			</a><br>
		</div>
		<div class = "signUpButton">
			<a href = "signUp">
				<button>Not a BillyBooks Member? Sign Up!</button>
			</a>
		</div>
	</body>
</html>
