
<!DOCTYPE html>
<htmnl>
    <head>
        Search a Genre
    </head>
    <body style="background-color: #a4cae5;">
            <label style="color: #28211e;">Select genre(s):</label><br>
                    <form method ="post">
                        <button type="submit" name="history" value="history" style="color: #28211e; background-color: #828d6f;"> History </button>
                        <button type="submit" name="fiction" value="fiction" style="color: #28211e; background-color: #828d6f;"> Fiction </button>
                        <button type="submit" name="fantasy" value="fantasy" style="color: #28211e; background-color: #828d6f;"> Fantasy </button>
                        <button type="submit" name="mystery" value="mystery" style="color: #28211e; background-color: #828d6f;"> Mystery </button>
                        <button type="submit" name="poetry" value="poetry" style="color: #28211e; background-color: #828d6f;"> Poetry </button>
                        <button type="submit" name="romance" value="romance" style="color: #28211e; background-color: #828d6f;"> Romance </button>
                        <button type="submit" name="nonfiction" value="nonfiction" style="color: #28211e; background-color: #828d6f;"> Non-Fiction </button>
                        <button type="submit" name="children" value="children" style="color: #28211e; background-color: #828d6f;"> Children </button>
                        <button type="submit" name="youngadult" value="youngadult" style="color: #28211e; background-color: #828d6f;"> Young-Adult </button>
                        <button type="submit" name="comics" value="comics" style="color: #28211e; background-color: #828d6f;"> Comics </button>
                    </form>
    </body>
</htmnl>
