<!DOCTYPE html>
<html>
    <body style="background-color: #a4cae5;">
        <table style="background-color: #95a4b6;">
            <!-- tr represents a row -->
            <tr style="color: #28211e;">
              {% for col_name in table_title %}
                  <th style="color: #28211e;">{{col_name}}</th>
              {% endfor %}
            </tr>
            {% for row in sql_table %}
            <tr style="color: #28211e;">
              {% for col in row %}
              <td style="color: #28211e;">{{col}}</td>
              {% endfor %}
            </tr>
            {% endfor %}
          </table>
    </body>
</html>