<!--Jacob will be responsable for this page.-->
<!DOCTYPE html>
<html>
	<!--editing the back ground color for the entier page-->
	<body style="background-color:#a4cae5;">
		<!--for the box around the log in information and setting the back ground color of inside of the box-->
		<form method = post>
			<fieldset style="background-color:#cdc1a8; ">
				<!--the title of the box section -->
				<legend style="color: #3f2927;">Sign In:</legend>
				<!--the lable and the text box f-r the email  //curently using email insted of a user name and is wanting input type of email and not text-->
				<label style="color: #3f2927;" for="email" >Email:</label>
				<input style="background-color:#828d6f; color: #3f2927;" type="text" id="email" name="email"><br><br>
				<!--the lable and the text box for the password-->
				<label style="color: #3f2927;" for="password">Password:</label>
				<input style="background-color:#828d6f; color: #3f2927;" type="password" id="password" name="password"><br><br>
				<!--the signin button //currently not conected to another web page at the moment-->
				<button style="color:#3f2927; background-color: #cdc1a8;" type="submit">Login</button>
			</fieldset>
		</form>
	</body>
</html>
<!--colors: 
	#1 = #695953
	#2 = #cdc1a8
	#3 = #a4cae5
	#4 = #928f92
	#5 = #a28256
	#6 = #95a4b6
	#7 = #28211e
	#8 = #3f2927
	#9 = #828d6f
-->