<!DOCTYPE html>
<html>
<head>
    <title>Welcome page</title>
    <style>
    table, th, td {
      border:1px solid black;
    }
    </style>
</head>
<body style="background-color: #a4cae5;">
    <p style="color:#28211e;">Results</p>
    <table style="background-color: #95a4b6;">
      <!-- tr represents a row -->
      <tr style="color:#28211e;">
        {% for col_name in table_title %}
            <th style="color:#28211e;">{{col_name}}</th>
        {% endfor %}
      </tr>
      {% for row in sql_table %}
      <tr style="color:#28211e;">
        {% for col in row %}
          {% if loop.first %}
          <td style="color:#28211e;"><a href='/userbook/{{col}}'>{{col}}</a></td>
          {% else %}
          <td style="color:#28211e;">{{col}}</td>
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
</body>
</html>